node_modules/
.expo/*
.expo-shared
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# media ignore
src/server/media/ping_photos/*
src/server/media/profile_photos/*

# media ignore exceptions
!src/server/media/ping_photos/README.md
!src/server/media/profile_photos/README.md
