node_modules/
.expo/*
.expo-shared
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# media ignore
app/server/media/ping_photos/*
app/server/media/profile_photos/*

# media ignore exceptions
!app/server/media/ping_photos/README.md
!app/server/media/profile_photos/README.md
